<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParaBankTestSuite">
    <test name="RegistrationTests">
        <classes>
            <class name="com.example.tests.ParaBankRegistrationTest"/>
        </classes>
    </test>
<!--    <test name="LoginTests">-->
<!--        <classes>-->
<!--            <class name="com.example.tests.ParaBankLoginTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>